<template>
  <q-page fluid class="row">
    Welcome
    <pre>{{ message }}</pre>

    {{ message.Message }}
  </q-page>
</template>

<script>
  import { mapGetters } from "vuex";

  export default {
    computed: {
      ...mapGetters(["message"]),
    },
    data: () => ({}),
    mounted() {
      this.loadMessage();
    },
    methods: {
      loadMessage() {
        this.$store.dispatch("loadMessage");
      },
    },
  };
</script>
