<template>
  <div>
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu"></q-btn>
        <q-toolbar-title> TODO APP </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="drawer" show-if-above :width="200" :breakpoint="400">
      <q-scroll-area
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
      >
        <q-list padding class="text-accent">
          <q-item v-ripple to="/" exact>
            <q-item-section avatar>
              <q-icon name="dashboard"></q-icon>
            </q-item-section>

            <q-item-section> Dashboard </q-item-section>
          </q-item>

          <q-item v-ripple to="/page2" exact>
            <q-item-section avatar>
              <q-icon name="mdi-chart-box"></q-icon>
            </q-item-section>

            <q-item-section> Page2 </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <q-img
        class="absolute-top bg-white"
        style="
          height: 150px;
          border-right: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;
        "
      >
        <div class="absolute-bottom bg-transparent">
          <div
            class="q-pb-sm"
            style="width: 150px; margin: auto; position: relative"
          ></div>

          <div class="row">
            <div class="col-10 text-black">
              <div class="text-weight-bold"></div>
              <div></div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </q-img>
    </q-drawer>
  </div>
</template>

<script>
  export default {
    data: () => ({
      drawer: false,
      miniState: true,
    }),
    components: {},
    beforeCreate() {},
    mounted() {},
    methods: {},
  };
</script>
