<template>
  <div id="q-app">
    <q-layout>
      <app-bar />
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
  import AppBar from "@/components/AppBar";

  export default {
    components: {
      AppBar,
    },
    data: () => ({}),
    mounted() {},
    methods: {},
  };
</script>

<style>
</style>
